.b{border-width:var(--un-line-width-default,1px)}
.b-__5865f2_{border:#5865f2}
.b-__d9ddff_{border:#d9ddff}
.b-__e8ebf2_{border:#e8ebf2}
.b-0{border-width:0}
.b-2rpx{border-width:2rpx}
.b-b{border-bottom-width:var(--un-line-width-default,1px)}
.b-t{border-top-width:var(--un-line-width-default,1px)}
.backdrop-filter{backdrop-filter:var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-drop-shadow) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia)}
.bg-__5865f2_{background:#5865f2}
.bg-__82f2a0_{background:#82f2a0}
.bg-__98a2b3_{background:#98a2b3}
.bg-__e8eaff_{background:#e8eaff}
.bg-__e8f0fe_{background:#e8f0fe}
.bg-__eef0f5_{background:#eef0f5}
.bg-__eef0ff_{background:#eef0ff}
.bg-__f6f7fb_{background:#f6f7fb}
.bg-__ffffff_{background:#ffffff}
.bg-white{background-color:rgba(255,255,255,var(--un-bg-opacity,1))}
.blur{filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-opacity) var(--un-saturate) var(--un-sepia);--un-blur:blur(8rpx)}
.fc-b-border{border-color:var(--fc-theme-border)}
.fc-bg-page{background-color:var(--fc-theme-page)}
.fc-bg-primary{background-color:var(--fc-theme-primary)}
.fc-bg-surface{background-color:var(--fc-theme-surface)}
.fc-text-content{color:var(--fc-theme-content)}
.fc-text-muted{color:var(--fc-theme-muted)}
.fc-text-primary{color:var(--fc-theme-primary)}
.flex{display:flex}
.flex-1{flex:1}
.flex-col{flex-direction:column}
.flex-row{flex-direction:row}
.flex-wrap{flex-wrap:wrap}
.font-bold{font-weight:700}
.h-12rpx{height:12rpx}
.h-14rpx{height:14rpx}
.h-80rpx{height:80rpx}
.h-84rpx{height:84rpx}
.h-88rpx{height:88rpx}
.h-full{height:100%}
.items-center{align-items:center}
.justify-between{justify-content:space-between}
.justify-center{justify-content:center}
.lh-36rpx{line-height:36rpx}
.lh-38rpx{line-height:38rpx}
.lh-40rpx{line-height:40rpx}
.lh-42rpx{line-height:42rpx}
.lh-48rpx{line-height:48rpx}
.lh-80rpx{line-height:80rpx}
.lh-84rpx{line-height:84rpx}
.mb-4rpx{margin-bottom:4rpx}
.min-h-260rpx{min-height:260rpx}
.min-h-320rpx{min-height:320rpx}
.min-w-180rpx{min-width:180rpx}
.ml-14rpx{margin-left:14rpx}
.ml-16rpx{margin-left:16rpx}
.mt-12rpx{margin-top:12rpx}
.mt-14rpx{margin-top:14rpx}
.mt-16rpx{margin-top:16rpx}
.mt-20rpx{margin-top:20rpx}
.mt-24rpx{margin-top:24rpx}
.mt-28rpx{margin-top:28rpx}
.mt-32rpx{margin-top:32rpx}
.mt-36rpx{margin-top:36rpx}
.mt-4rpx{margin-top:4rpx}
.mt-8rpx{margin-top:8rpx}
.mx--6rpx{margin-left:-6rpx;margin-right:-6rpx}
.mx--8rpx{margin-left:-8rpx;margin-right:-8rpx}
.mx-6rpx{margin-left:6rpx;margin-right:6rpx}
.mx-8rpx{margin-left:8rpx;margin-right:8rpx}
.none{display:none}
.of-hidden{overflow:hidden}
.p-28rpx{padding:28rpx}
.p-32rpx{padding:32rpx}
.pb-0{padding-bottom:0}
.pb-28rpx{padding-bottom:28rpx}
.pb-36rpx{padding-bottom:36rpx}
.pb-64rpx{padding-bottom:64rpx}
.pb-8rpx{padding-bottom:8rpx}
.pl-8rpx{padding-left:8rpx}
.pr-40rpx{padding-right:40rpx}
.pt-0{padding-top:0}
.pt-32rpx{padding-top:32rpx}
.px-12rpx{padding-left:12rpx;padding-right:12rpx}
.px-14rpx{padding-left:14rpx;padding-right:14rpx}
.px-16rpx{padding-left:16rpx;padding-right:16rpx}
.px-20rpx{padding-left:20rpx;padding-right:20rpx}
.px-24rpx{padding-left:24rpx;padding-right:24rpx}
.px-28rpx{padding-left:28rpx;padding-right:28rpx}
.px-32rpx{padding-left:32rpx;padding-right:32rpx}
.px-36rpx{padding-left:36rpx;padding-right:36rpx}
.py-14rpx{padding-top:14rpx;padding-bottom:14rpx}
.py-20rpx{padding-top:20rpx;padding-bottom:20rpx}
.py-22rpx{padding-top:22rpx;padding-bottom:22rpx}
.py-24rpx{padding-top:24rpx;padding-bottom:24rpx}
.py-4rpx{padding-top:4rpx;padding-bottom:4rpx}
.py-6rpx{padding-top:6rpx;padding-bottom:6rpx}
.py-8rpx{padding-top:8rpx;padding-bottom:8rpx}
.rd-10rpx{border-radius:10rpx}
.rd-14rpx{border-radius:14rpx}
.rd-16rpx{border-radius:16rpx}
.rd-18rpx{border-radius:18rpx}
.rd-20rpx{border-radius:20rpx}
.rd-22rpx{border-radius:22rpx}
.rd-24rpx{border-radius:24rpx}
.rd-28rpx{border-radius:28rpx}
.rd-6rpx{border-radius:6rpx}
.rd-7rpx{border-radius:7rpx}
.rd-8rpx{border-radius:8rpx}
.rd-999rpx{border-radius:999rpx}
.rd-lg{border-radius:var(--un-radius-lg-default,8rpx)}
.text-__182230_{color:#182230}
.text-__475467_{color:#475467}
.text-__5865f2_{color:#5865f2}
.text-18rpx{font-size:18rpx}
.text-20rpx{font-size:20rpx}
.text-22rpx{font-size:22rpx}
.text-24rpx{font-size:24rpx}
.text-25rpx{font-size:25rpx}
.text-26rpx{font-size:26rpx}
.text-28rpx{font-size:28rpx}
.text-30rpx{font-size:30rpx}
.text-32rpx{font-size:32rpx}
.text-34rpx{font-size:34rpx}
.text-white{color:rgba(255,255,255,var(--un-color-opacity,1))}
.w-_80_f_{width:80%}
.w-_86_f_{width:86%}
.w-14rpx{width:14rpx}
.w-88rpx{width:88rpx}
.w-full{width:100%}